* {
    margin: 0;
    padding: 0;
}

body{
    padding: 5px;
    text-align: center;
    font-family: "Jura", sans-serif;
}

/* Styling for the Game intro screen */

#game-intro{
    display: block;
    background-image: url('../Images2/Intro.webp');
    width: 99vw;
    height: 99vh;
    background-size: cover; /* Ensures it fits the entire screen */
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.title-img{
    height: 60vh;
    width: auto;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%); /* aligned in the middle */
}

.logo-img {
    height: 30vh;
    width: auto;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-46%); /* aligned in the middle but the image is not super symetrical */
}

.button, .play-again {
    background-color: rgba(20, 20, 80, 0.3);
    color: ivory;
    font-family: "Jura", sans-serif;
    font-size: 1.5rem;
    padding: 12px 24px;
    border: ivory;
    border-radius: 5px;
    letter-spacing: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 40px auto;
    width: fit-content;
    position: absolute;
    left: 50%; 
    bottom: 5%; 
    transform: translateX(-46%);
}

.button:hover, .play-again:hover {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3);
}

/* Styling for the Game instruction screen */

#game-instruction{
    display: none;
    background-image: url('../Images2/instruction.png');
    width: 99vw;
    height: 99vh;
    background-size: cover; /* Ensures it fits the entire screen */
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#instruction{
    background-color: rgba(255, 255, 255, 0.3);
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#game-instruction h2{
    font-size: 3rem;
    font-family: "Jura", sans-serif;
    color: ivory;
    font-style: bold;
    padding: 10px;
    /* transform: translateX(20%); */
    text-shadow: 2px 2px 5px rgba(20, 20, 80, 0.3);
}

#game-instruction h3{
    font-size: 1.5rem;
    font-family: "Jura", sans-serif;
    color: ivory;
    text-shadow: 2px 2px 5px rgba(20, 20, 80, 0.3)
}

#arrow-keys{
    width: 6vw;
    height: auto;
    left: 50%;
}

#game-instruction span{
    font-size: 1.25rem;
    font-family: "Jura", sans-serif;
    color: ivory;
    text-shadow: 2px 2px 5px rgba(20, 20, 80, 0.3)
}


#collection-list, #avoid-list, #navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 10px;
}

.collection-item, .avoid-item, .arrow-card{
    display: flex;
    width: 2wv;
    height: 2.4wv;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px 60px 10px 60px;
    background-color: rgba(20, 20, 80, 0.3);
    cursor: pointer;
    border-radius: 5px;
}

.collection-item:hover, .avoid-item:hover, .arrow-card:hover {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3);
}

.hoard-item, #cursed_coin{
    width: 8vw;
    height: auto;
    size-adjust: 20%;
    left: 50%;
    align-self: center;
}


/* Styling for game container screen*/

#game-container{
    width: 99vw;
    height: 99vh;
    background-image: url('../Images2/GameScreen1.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 1.25rem;
    font-family: "Jura", sans-serif;
    color: ivory;
    text-shadow: 2px 2px 5px rgba(20, 20, 80, 0.3);
}


#timer{
    font-size: 1.25rem;
    font-family: "Jura", sans-serif;
    color: rgba(20, 20, 80);
    text-shadow: ivory;
}

#game-board{
    background-color: rgba(255, 255, 255, 0.3);
    width: 900px;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#chessboard {
    width: 80%;
    max-width: 900px;
    aspect-ratio: 1/1;
    position: absolute;

    background-image: url('../Images2/Chessboard.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#gridOverlay{
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;

    display: grid;
    position: absolute;
    top:0;
    left:0;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

#player {
    width: 10%;
    height: 10%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
}

#niffler {
    width: 90%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

#game-header, #game-board,#game-footer{
    padding: 10px;
    margin: 10px;
    width: 80%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

#progress {
    width: 500px;
    height: 20px; /* Ensure a height is set */
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px; /* Matches the progress bar */
    margin-bottom: 5px;
}

#progress-bar {
    width: 0%;
    height: 100%;
    background-color: rgba(20, 20, 80, 0.8);
    border-radius: 5px; 
    transition: width 0.5s ease-in-out; 
}

#time-progress {
    width: 500px;
    height: 20px; 
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px; /* Matches the progress bar */
    margin-bottom: 5px;
}

#time-progress-bar {
    background-color: rgba(20, 20, 80, 0.8);
    width: 100%; /*Must*/
    height: 100%; /*Must*/
    border-radius: 5px; 
    transition: width 1s linear; /* Smoothes throughout the 1 second */
}

/*-----------*/

#game-end{
    width: 99vw;
    height: 99vh;
    background-image: url('../Images2/End_screen.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: none;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 1.25rem;
    font-family: "Jura", sans-serif;
    color: ivory;
    text-shadow: 2px 2px 5px rgba(20, 20, 80, 0.3);
}

#game-over-screen{
    background-color: rgba(255, 255, 255, 0.3);
    width: 70%;
    height: 70%;

    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
}

#win-screen{
    background-color: rgba(255, 255, 255, 0.3);
    width: 70%;
    height: 70%;
    
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
}

#game-end h2 {
    font-size: 60px;
    font-family: "Jura", sans-serif;
    color: rgba(20, 20, 80, 0.9);
    margin: 50px 10px 10px 10px;
}

#game-end h3 {
    font-size: 30px;
    font-family: "Jura", sans-serif;
    color: rgba(20, 20, 80, 0.9);
    margin: 20px;
}

.logo-img2 {
    height: 20vh;
    width: auto;
    position: absolute;
    bottom: 35%;
}

/*---Adding object images-----*/

.game-object {
    width: 10%;
    height: 10%;
    position: absolute;
}

.coin{
    background: url("../Images2/Coin.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.diamond{
    background: url("../Images2/Diamond.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.redPocket{
    background: url("../Images2/red_pocket.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.cursedCoin{
    background: url("../Images2/Cursed_coin.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}