* {
    margin: 0;
    padding: 0;
}

body{
    padding: 0;
    text-align: center;
    padding: 20px;
    font-family: "Jura", sans-serif;
}

#game-container{
    display: none;
    padding: 20px;
    background-image: url('images/Chessboard.jpg');
    background-size: cover;
    background-position: center;
    align-content: center;
    position: relative;
}

#game-end{
    display: none;
    padding: 20px;
}

#game-over-screen{
    display: none;
    padding: 20px;
}

#win-screen{
    display: none;
    padding: 20px;
}

/* Styling for the Game intro screen */

#game-intro{
    display: none;
    background-image: url('../Images2/Intro.webp');
    width: 99vw;
    height: 99vh;
    background-size: cover; /* Ensures it fits the entire screen */
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.title-img{
    height: 60vh;
    width: auto;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%); /* aligned in the middle */
}

.logo-img {
    height: 30vh;
    width: auto;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-46%); /* aligned in the middle but the image is not super symetrical */
}

.button{
    background-color: rgba(20, 20, 80, 0.3);
    color: ivory;
    font-family: "Jura", sans-serif;
    font-size: 1.5rem;
    padding: 12px 24px;
    border: ivory;
    border-radius: 5px;
    letter-spacing: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 40px auto;
    width: fit-content;
    position: absolute;
    left: 50%; 
    bottom: 5%; 
    transform: translateX(-46%);
}

.button:hover{
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3);
}

/*-------------------*/

#game-instruction{
    display: block;
    background-image: url('../Images2/Instruction.webp');
    width: 99vw;
    height: 99vh;
    background-size: cover; /* Ensures it fits the entire screen */
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#instruction{
    background-color: rgba(255, 255, 255, 0.3);
    width: 90%;
    height: 90%;
    transform: translate(5%, 5%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#game-instruction h2{
    font-size: 3rem;
    font-family: "Jura", sans-serif;
    color: ivory;
    font-style: bold;
    padding: 10px;
    top: 5%;
    transform: translateX(20%);
    text-shadow: 2px 2px 5px rgba(20, 20, 80, 0.3);
}

#game-instruction h3{
    font-size: 1.5rem;
    font-family: "Jura", sans-serif;
    color: ivory;
    text-shadow: 2px 2px 5px rgba(20, 20, 80, 0.3)
}

#arrow-keys{
    width: 5vw;
    height: auto;
    size-adjust: 20%;
    transform: translateX(-50%);
    left: 50%;
}

#game-instruction span{
    font-size: 1rem;
    font-family: "Jura", sans-serif;
    color: ivory;
    text-shadow: 2px 2px 5px rgba(20, 20, 80, 0.3)
}

/* .instruction-list,  */

.collection-item, #arrow-keys{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transform: translateX(5%);
    background-color: rgba(20, 20, 80, 0.3);
    cursor: pointer;
    border-radius: 5px;
}

.collection-item:hover, {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3);
}

#collection-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.hoard-item{
    width: 10vw;
    height: auto;
    size-adjust: 20%;
    transform: translateX(8%);
    left: 50%;
    align-self: center;
}

#cursed_coin{
    width: 10vw;
    height: auto;
    size-adjust: 20%;
    transform: translateX(10%);
    left: 50%;
    align-self: center;
}












/*-------------------*/

#progress { /* To edit later*/
    width: 100%;
    background-color: #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 5px;
}

#progressBar { /* To edit later*/
    height: 20px;
    background-color: #4c4faf;
    width: 0%;
    border-radius: 5px;
}

#game-end h2 {
    font-size: 40px;
    font-family: "Poppins";
    color: darkblue;
}

#game-end h3 {
    font-size: 20px;
    font-family: "Poppins";
    color: rgb(0, 81, 139);
}